body
	{
	background-color: #ffff99;
	padding: 20px;
	}

ul 
	{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	}

li 
	{
    float: left;
	}

li a 
	{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

li a:hover 
	{
    background-color: #111;
	}

header 
	{
	background-image:url(images/HomeCover.jpg);
	width:1292px;
	height: 707px;
	background-size: cover;
	background-position:center;
	}

table 
	{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
	background-color: #F9F;
	}

td, th 
	{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:#000;
	}


h1
	{
	color: black;
	text-transform:uppercase;
	font-size:70px;
	text-align:center;
	margin-top:275px;
	}
h2
	{
	text-decoration:underline;

	}

h3
	{
	color:#F36;
	align:center;
	}

h4
	{
	color:#036;
	}

p
	{
	text-decoration: none;
	list-style-type: circle;
	list-style-position: inside;
	}

.power
	{
	position: absolute;
	width: 1291px;
	margin-left: 0;
	margin-top: 0;
	height: 707px;
	}
